<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  This is Muffin. She sleeps 18 hours a day, chases invisible bugs, 
  and brings unlimited joy. Her hobbies include purring, judging you from afar, 
  and occasionally knocking things off the table just because she can.</p>
  <%- include("partials/footer.ejs") %>